* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#header-nav {
    background-color: dodgerblue;
}

a {
    text-decoration: none;
}

.navbar-header  {
    padding: 5px;
}

ul li {
    border-bottom: 1px solid black;
    text-align: center;
}

h1 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    text-transform: uppercase;
}

h2,
h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.40em;
    margin: 10px;
}

h3 {
    font-size: 1.25em;
}

section {
    background-color: bisque;
    margin: 15px 0px 10px;
    border: 1px solid black;
}

p {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 1px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    margin: 15px 0px 5px;
}

#bttb {
    font-family: 'Montserrat', sans-serif;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: dodgerblue; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #bttb:hover {
    background-color: navy; /* Add a dark-grey background on hover */
  }