* {
  /* padding: 0;
  border: 0;
  margin: 0; 
  */
  box-sizing: border-box;
  text-decoration: none;

}

@font-face {
  font-family: 'RobotoRegular';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoBold';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoLightItalic';
  src: url('./fonts/Roboto-LightItalic.ttf') format('truetype');
}

:root {
  --background-color: #e7a06a;
  font-family: 'system-ui', fallback-font, 'sans-serif';
  background: var(--background-color);
}

html {
  scroll-behavior: smooth;
}

#logo {
  max-width: 20px;
}

nav ul {
  font-family: 'RobotoLight';
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 100;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* border: 5px solid green; */
}

nav li {
  float: left;
  border-right: 1px solid #bbb;
}

nav li:last-child {
  border-right: none;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

nav li a:hover {
  background-color: #da7222;
}

header {
  /* border: 5px solid white; */
}

footer {
  font-family: 'RobotoLightItalic';
  font-size: 14px;
  text-align: center;
  padding-bottom: 5px;
  /* border: 5px solid purple; */
}

.footerIcons a {
  margin: 2px;
  padding: 2px;
}

body {
  font-size: 16px;
  color: white;
  position: relative;
  top: 45px;
}

main {
  /* border: 15px solid red; */
  border-radius: 25px;
  background: #de8909;
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section {
  /* border: 10px solid blue; */
  border-radius: 25px;
  background: #dfa247;
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'RobotoBold';
  font-weight: 900;
  padding: 0px;
  margin: 0px;
  /* border: 5px solid rgb(199, 196, 35); */
}

p {
  font-family: 'RobotoRegular';
  padding: 3px;
  /* border: 5px solid dodgerblue; */
}

article p::first-letter,
.introP::first-letter {
  color: #ff0000;
  font-size: 2.1em;
}

time {
  font-family: 'RobotoLightItalic';
  /* border: 5px solid black; */
}

#eliHeadshot {
  margin: 0 auto;
}

#eliHeadshot img {
  /* margin-left: auto;
  margin-right: auto; */
  float: left;
  padding: 10px;
  margin: 14px;
  height: 300px;
  min-height: 300px;
  max-width: 300px;
}

#eliBio,
.introP {
  line-height: 1.3;
  word-spacing: 1.3px;
  letter-spacing: 1.1px;
  margin: 2px 8px;
}

.introImageL {
  margin: 0 auto;
}

.introImageR {
  margin: 0 auto;
}

.introImageL img {
  float: left;
  margin: 14px;
  height: 300px;
  min-height: 300px;
  max-width: 550px;
  /* border: 5px solid silver; */
}

.introImageR img {
  float: right;
  margin: 14px;
  height: 300px;
  min-height: 300px;
  max-width: 250px;
}

figcaption {
  font-family: 'RobotoLightItalic';
  /* border: 5px solid silver; */
}

table {
  font-family: 'RobotoLight';
  /* border: 5px solid rgb(61, 51, 202); */
}

video {
  font-family: 'RobotoRegular';
  /* border: 5px solid brown; */
  border-radius: 25px;
  background: #33312e;
  display: block;
  float: right;
  padding: 10px;
  margin: 14px;
  height: 250px;
  width: 450px;
}

form {
  font-family: 'RobotoRegular';
  /* border: 5px solid rgb(13, 231, 72); */
  border-radius: 25px;
  background: #f7ce9167;
  padding: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  /* vh stands for viewport height */
}

.form-container-buttons,
.resume-download-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 35%;
  /* adjust this value to control the form's width */
}

button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 7px 16px;
  font-size: 16px;
  border-radius: 8px;
  margin: 5px;
}

.resetButton {
  background-color: #5e6864;
}

#resume_dl_button {
  background-color: dodgerblue;
}

@media (orientation: portrait) {
  section figure img {
    width: 90%;
    height: 90%;
  }

}