* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'system-ui', Arial, Helvetica, sans-serif, 'sans-serif';
}

:root {
    --background-color: #33456C;
    background: var(--background-color);
}

.offpage {
    position: absolute;
    left: -1000px;
}

header {
    border: 3px solid black;
}

nav {
    background-image: url(./images/iconmonstr-bicycle-3.svg);
    width: 100%;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    background-color: #194877;
    width: 35%;
    padding: 0px;
}

li {
    display: inline-block;
    margin: 25px;
    font-size: 24px;
}

li a {
    text-decoration: none;
    color: antiquewhite;
}

.current a {
    color: orange;
    font-size: 40px;
}

h1 {
    font-size: 28px;
    font-weight: 800;
    color: #E0E0E0;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    color: #E0E0E0;
}

img {
    border-radius: 25px;
    padding: 1px;
    margin: 14px;
    width: 30%;
    border: 3px solid orange;
    display: inline-block;
    vertical-align: top;
    transition-property: border, transform;
    transition-duration: .1s;
    transition-timing-function: linear;
    transition-delay: .2s;
}

p {
    color: #FFFFFF;
    font-size: 18px;
    position: static;
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

p::first-letter {
    font-size: 32px;
    color: #FFDE70;
}

.bikePics {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 1%;
}

.bikePics img {
    width: 100%;
}

.bikePics img:nth-child(even) {
    border: 6px solid black;
}

.bikePics img:active {
    border: 6px solid red;
    transform: rotate(360deg);
}

.routePics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.routePics img:hover {
    border: 6px solid red;
    transform: scale(1.3);
}

footer {
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    padding: 10px 20px;
    margin: 25px;
}