html {
  scroll-behavior: smooth;
}

body {
  background-color: #dedede;
  padding: 5px;
  margin: 15px;
  font-size: 25px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.95em;
}

h2 {
  text-align: center;
}

li {
  margin-top: 20px;
}

img {
  border: 5px solid blue;
  border-radius: 35px;
  width: 100%;
  height: 70%;
}

.label {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  gap: 10px; /* grid-gap in css3 is deprecated */
}

@media screen and (min-width: 772px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  img {
    border-radius: 50%;
  }

  .lastImage {
    grid-column: span 2;
  }
}

@media screen and (min-width: 992px) {
  img {
    border-radius: 0%;
  }

  .thirdImage {
    grid-column: span 2;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  body {
    background-color: orange;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #eee;
  }

  header {
    background-color: #555;
    color: #eee;
  }

  img {
    border: 5px dotted dodgerblue;
    border-radius: 0%;
  }
}
